$color_1: #fff;
$color_2: aliceblue;
$font-family_1: var(--font-family);

.Ecommers__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem, 6rem;
}
.Ecommers__navbar-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.Ecommers__navbar-links_logo {
	margin-right: 3rem;
	img {
		width: 140px;
		height: 70px;
	}
}
.Ecommers__navbar-links_containers {
	display: flex;
	flex-direction: row;
	p {
		color: $color_1;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;
		margin: 0 1rem;
		cursor: pointer;
	}
}
.Ecpmmers__navbar-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	p {
		color: $color_1;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;
		margin: 0 1rem;
		cursor: pointer;
	}
}
.Ecommers__navbar-menu_containers {
	p {
		color: $color_1;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;
		margin: 0 1rem;
		cursor: pointer;
	}
	button {
		width: 130px;
		height: 46px;
		color: $color_2;
		left: 1000px;
		top: 60px;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		border: 0;
		outline: none;
		cursor: pointer;
		margin-right: 20px;
		background: #8e05ce;
		border-radius: 5px;
	}
}
.Ecommers__navbar-sign {
	button {
		width: 130px;
		height: 46px;
		color: $color_2;
		left: 1000px;
		top: 60px;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		border: 0;
		outline: none;
		cursor: pointer;
		margin-right: 20px;
		background: #8e05ce;
		border-radius: 5px;
	}
}
.Ecommers__navbar-sign {
	button {
		width: 130px;
		height: 46px;
		color: $color_2;
		left: 1000px;
		top: 60px;
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		border: 0;
		outline: none;
		cursor: pointer;
		margin-right: 20px;
		background: #8e05ce;
		border-radius: 5px;
	}
}

.Ecommers__navbar-menu {
	margin-left: 1rem;
	display: none;
	position: relative;
	z-index: 1;
	svg {
		cursor: pointer;
	}
}
.Ecommers__navbar-menu_containers {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	text-align: end;
	background: var(--color-footer);
	padding: 2rem;
	position: absolute;
	top: 40px;
	right: 0;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 5px;
	//box-shadow: 0 0 5 rgba(0, 0, 0, 0, 2);
}
.Ecommers__navbar-menu_containers-links {
	p {
		margin: 1rem 0;
	}
}
.Ecommers__navbar-menu_containers-links-sign {
	display: none;
}
@media screen and (max-width: 1050px) {
	.Ecommers__navbar-links_containers {
		display: none;
	}
	.Ecommers__navbar-menu {
		display: flex;
	}
}
@media screen and (max-width: 700px) {
	.Ecommers__navbar {
		padding: 2rem 4rem;
	}
}
@media screen and (max-width: 550px) {
	.Ecommers__navbar {
		padding: 2rem;
	}
	.Ecommers__navbar-sign {
		display: none;
	}
	.Ecommers__navbar-menu_containers {
		top: 20px;
	}
	.Ecommers__navbar-menu_containers-links-sign {
		display: block;
	}
}

